In this notebook I will explore the following variables in the dataset: bact_detail_rid, plate_blank, plate_one, plate_two, plate_three, plate_four,plate_five, Other1, Other2, Other3, Other4, Other5, Other6, colony_avg, hold_start_datetime, hold_end_datetime, three_M_plate, ecoli_idexx, fecal_coliform, ecoli_other, ecoli_other_unit, Other1_Comm, Other2_Comm, Other3_Comm, Other4_Comm, Other5_Comm, Other6_Comm, and Other7_Comm.

In [ ]:
import pandas as pd
import numpy as np
import csv
from datetime import datetime
from google.colab import files
import io 
data = files.upload()

Saving export_dataframe_stage2.csv to export_dataframe_stage2 (1).csv

In [ ]:
df = pd.read_csv("export_dataframe_stage2.csv",low_memory=False)

1. bact_detail_rid represents the total bacteria level in the water per mL, ranging from 0 to 43,489

In [ ]:
bact_detail_rid = df["bact_detail_rid"]
data = []
for x in bact_detail_rid:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

43489
-1
59598

2. plate_blank represents whether the information regarding the number of each type of plate used will be left blank in the spreadsheet, 0 or 1 means those columns will not be left blank, while a blank value means they will be left blank

In [ ]:
plate_blank = df["plate_blank"]
data = []
for x in plate_blank:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

1.0
0.0
7468

3. plate_one represents the number of plates used that are of type one, ranging from 0 to 421 (TNTC=Too Numerous to Count)

In [ ]:
plate_one = df["plate_one"]
data = []
for x in plate_one:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

TNTC
0
7471

4. plate_two represents the number of plates that are of type two, ranging from 0 to 400 (TNTC=Too Numerous to Count)

In [ ]:
plate_two = df["plate_two"]
data = []
for x in plate_two:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

TNTC
0
7466

5. plate_three represents the number of plates that are of type three, ranging from 0 to 438 (TNTC=Too Numerous to Count)

In [ ]:
plate_three = df["plate_three"]
data = []
for x in plate_three:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

TNTC
0
7455

6. plate_four represents the number of plates that are of type four, ranging from 0 to 76

In [ ]:
plate_four = df["plate_four"]
data = []
for x in plate_four:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

76.0
0.0
44

7. plate_five represents the number of plates that are of type five, ranging from 0 to 80

In [ ]:
plate_five = df["plate_five"]
data = []
for x in plate_five:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

80.0
0.0
10

8. colony_avg represents average number of colonies of bacteria per mL of water (TNTC=Too Numerous to Count)

In [ ]:
colony_avg = df["colony_avg"]
data = []
for x in colony_avg:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

TNTC
0
11462

9. Other1 represents the value of variable which is defined with the units in the corresponding Other1_Comm column, ranging from 0 to 144

In [ ]:
Other1 = df["Other1"]
data = []
for x in Other1:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

negative
0
224

10. Other2 represents the value of the variable which is defined with the units in the corresponding Other2_Comm column, ranging from 0 to 230

In [ ]:
Other2 = df["Other2"]
data = []
for x in Other2:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

230.0
0.0
21

11. Other3 represents the value of the variable which is defined with the units in the corresponding Other3_Comm column, ranging from 0 to 260

In [ ]:
Other3 = df["Other3"]
data = []
for x in Other3:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

260.0
0.0
12

12. Other4 Empty Column

In [ ]:
Other4 = df["Other4"]
count =0
for x in Other4:
    if str(x) == "nan":
        continue
    count +=1

print("total:" + str(count))

total:0

13. Other5 Empty Column

In [ ]:
Other5 = df["Other5"]
count =0
for x in Other5:
    if str(x) == "nan":
        continue
    count +=1

print("total:" + str(count))

total:0

14. Other6 Empty Column

In [ ]:
Other6 = df["Other6"]
count =0
for x in Other6:
    if str(x) == "nan":
        continue
    count +=1

print("total:" + str(count))

total:0

15. hold_start_datetime 
the starting time in the format min: second that ranges from 00:00.0 to 59:00.0, representing the start time of the collection

In [ ]:
hold_start_datetime = df["hold_start_datetime"]
times = []
for x in hold_start_datetime:
    if str(x) == "nan":
        continue
    else:
        times.append(datetime.strptime(str(x), '%M:%S.%f').time())
print(max(times))
print(min(times))
print(len(data))

00:59:00
00:00:00
7468

16. hold_end_datetime
the ending time in the format min: second that ranges from 00:00.0 to 59:00.0. representing the end time of the collectioin, total count of valid values matches hold_start_datetime

In [ ]:
hold_end_datetime = df["hold_end_datetime"]
times = []
for x in hold_end_datetime:
    if str(x) == "nan":
        continue
    else:
        times.append(datetime.strptime(str(x), '%M:%S.%f').time())
print(max(times))
print(min(times))
print(len(data))

00:59:00
00:00:00
1

17. three_M_plate
A boolean value that represents whether the sample used a 3M petrifilm plate, 0 represents no and 1 represents yes.

In [ ]:
three_M_plate = df["three_M_plate"]
data = []
for x in three_M_plate:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

1.0
0.0
33674

18. ecoli_idexx
An index that represents the E.coli bacteria level in the water, ranging from 0.0 to 483,920.0

In [ ]:
ecoli_idexx = df["ecoli_idexx"]
data = []
for x in ecoli_idexx:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

483920.0
0.0
21936

19. fecal_coliform
An index that represents the fecal coliform bacteria level in the water, ranging from -100.0 to 120,980.0 with 495 entries

In [ ]:
fecal_coliform = df["fecal_coliform"]
data = []
for x in fecal_coliform:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

120980.0
-100.0
495

20. ecoli_other
An index that represents the unrecorded E.coli bacteria level in the water, ranging from 0.0 to 64,985.0, have only 27
entries

In [ ]:
ecoli_other = df["ecoli_other"]
data = []
for x in ecoli_other:
    if str(x) == "nan":
        continue
    else:
        data.append(x)

print(max(data))
print(min(data))
print(len(data))

64985.0
0.0
27

21. ecoli_other_unit
the unit of the previous ecoli index, all in cfu/100ml(=(# of colonies counted ÷ sample volume filtered in mL) x 100). (CFU = colony forming units).
Exists two noisy data: "MPN/100 mL" and "10.3"

In [ ]:
ecoli_other_unit = df["ecoli_other_unit"]
cfu = []
other = []
count =0
for x in ecoli_other_unit:
    if str(x) == "nan":
        continue
    elif str(x) == "cfu/100 mL":
        cfu.append(x)
        count +=1
    else:
        other.append(x)
        count +=1

print("total:" + str(count))
print(max(data1))
print(min(data1))
print(len(data1))
print(max(data2))
print(min(data2))
print(len(data2))

total:7151
cfu/100 mL
cfu/100 mL
7149
MPN/100 mL
10.3
2

22. Other1_Comm
A text that specified what additional tests/values are made to the sample, including "AddAValue:PhosphorusIAddA3Value:ppm", "AddAValue:TurbidityIAddA3Value:JTU","AddAValue:nitriteIAddA3Value:ppm" (Add A Value) and many others. Seems to have redundancy and lack of a standard format.

In [ ]:
Other1_Comm = df["Other1_Comm"]
dic = set()
count =0
for x in Other1_Comm:
    if str(x) == "nan":
        continue
    if str(x) in dic:
        count +=1
    else:
        dic.add(str(x))
        count +=1

print("total:" + str(count))
print(dic)

total:225
{'AddA:     AddA:     HardnessIAddA3mg/LIAddA3AddA:     HardnessIAddA3mg/L', 'AddAValue:HydrocarbonIAddA3Value:NA - strips used', 'AddAValue:nitriteIAddA3Value:ppm', 'AddAValue:NitratesIAddA3Value:mg/l', 'AddAValue:TurbityIAddA3Value::JTU', 'AddAValue:phosphate IAddA3Value:none', 'AddAValue:TurbidityIAddA3Value:JTU', 'AddAValue:NitriteIAddA3Value:', 'AddAValue: IAddA3Value:', 'AddAValue:PhosphorusIAddA3Value:mg/L', 'AddAValue:nitritteIAddA3Value:ppm', 'AddAValue:PhosphorusIAddA3Value:ppm', 'AddAValue:LaMott Turbidity Column 0-200JTUIAddA3Value:JTU', 'AddAValue:phosphate IAddA3Value:', 'AddAValue:Nitrate Nitrite Strip testIAddA3Value:', 'AddAValue:TurbityIAddA3Value:JTU', 'AddAValue:flowIAddA3Value:ft per sec', 'AddAValue:turbidityIAddA3Value:JTU', 'AddAValue:phosphates IAddA3Value:', 'AddA:     HardnessIAddA3mg/L', 'AddAValue:nitrateIAddA3Value:', 'AddAValue:Total Dissolved Solutes (TDS)IAddA3Value:ppm', 'AddAValue:nitriteIAddA3Value:mg/l (ppm)', 'AddAValue:NitritesIAddA3Value:ppm', 'AddAValue:phosephateIAddA3Value:ppm', 'AddAValue:NitriteIAddA3Value:mg/l (ppm)', 'AddAValue:HardnessIAddA3Value:mg/L', 'AddAValue:TurbidityIAddA3Value:JTUs', 'AddAValue:PhosphorusIAddA3Value:', 'AddAValue:Total Dissolved SolidsIAddA3Value:ppm', 'AddAValue:low range orthophosphateIAddA3Value:ppm', 'AddAValue:PHOSIAddA3Value:ppm', 'AddAValue:phosphateIAddA3Value:ppm', 'AddAValue:Total Dissolved SolutesIAddA3Value:ppm', 'AddAValue:NitriteIAddA3Value:ppm', 'AddAValue:PhosphatesIAddA3Value:mg/L (ppm)', 'AddAValue:phosphateIAddA3Value:', 'AddAValue:TurbidityIAddA3Value:NTUs', 'AddAValue:NitriteIAddA3Value:mg/L (ppm)', 'AddAValue:Hydrocarbon presentIAddA3Value:', 'AddAValue:nitriteIAddA3Value:', 'AddAValue:phosIAddA3Value:', 'AddAValue:NitriteIAddA3Value:mg/L', 'AddAValue:nitriteIAddA3Value:mg/L', 'AddAValue:Nitrate StripIAddA3Value:ppm', 'AddAValue:Nitrate NitrogenIAddA3Value:ppm'}

23. Other2_Comm
Similar to Other1_Comm, specifying additional tests/values added to the testing of the sample (Add B value). Example: "AddBValue:ChlorideIAddB3Value:ppm"
Only has 21 value cells

In [ ]:
Other2_Comm = df["Other2_Comm"]
dic = set()
count =0
for x in Other2_Comm:
    if str(x) == "nan":
        continue
    if str(x) in dic:
        count +=1
    else:
        dic.add(str(x))
        count +=1

print("total:" + str(count))
print(dic)

total:21
{'AddBValue:turbidityIAddB3Value:NTU', 'AddB:PhosphorusIAddB3ppm', 'AddBValue:TurbidityIAddB3Value:', 'AddBValue:chloride ionIAddB3Value:mg/l', 'AddBValue:nitriteIAddB3Value:mg/L', 'AddBValue:total phosphorusIAddB3Value:mg/l', 'AddBValue:ChlorideIAddB3Value:ppm', 'AddBValue:Chloride ionIAddB3Value:mg/l', 'AddBValue:PhosphatesIAddB3Value:ppm', 'AddBValue:tribitity IAddB3Value:JTU', 'AddBValue:Total Dissolved SolidsIAddB3Value:ppm'}

24. Other3_Comm
Similar to Other1_Comm and Other2_Comm. Add C values. ex. "AddCValue:fecal coliformIAddC3Value:cfu/100ml"

In [ ]:
Other3_Comm = df["Other3_Comm"]
dic = set()
count =0
for x in Other3_Comm:
    if str(x) == "nan":
        continue
    if str(x) in dic:
        count +=1
    else:
        dic.add(str(x))
        count +=1

print("total:" + str(count))
print(dic)

total:12
{'AddCValue:fecal IAddC3Value:cfu/100ml', 'AddCValue:Combined Chlorine(calculated)IAddC3Value:ppm', 'AddCValue:fecal coliformIAddC3Value:cfu/100 ml', 'AddCValue:free chlorineIAddC3Value:ppm', 'AddCValue:fecal coliformIAddC3Value:cfu/100ml', 'AddCValue:Combined ChlorineIAddC3Value:ppm', 'AddCValue:combined chlorineIAddC3Value:ppm', 'AddCValue:combined ChlorineIAddC3Value:ppm'}

25. Other4_Comm
Empty Column

In [ ]:
Other4_Comm = df["Other4_Comm"]
count =0
for x in Other4_Comm:
    if str(x) == "nan":
        continue
    count +=1

print("total:" + str(count))

total:0

26. Other5_Comm
Empty Column

In [ ]:
Other5_Comm = df["Other5_Comm"]
count =0
for x in Other5_Comm:
    if str(x) == "nan":
        continue
    count +=1

print("total:" + str(count))

total:0

27. Other6_Comm
Empty Column

In [ ]:
Other6_Comm = df["Other6_Comm"]
count =0
for x in Other6_Comm:
    if str(x) == "nan":
        continue
    count +=1

print("total:" + str(count))

total:0

28. Other7_Comm
Empty Column

In [ ]:
Other7_Comm = df["Other7_Comm"]
count =0
for x in Other7_Comm:
    if str(x) == "nan":
        continue
    count +=1

print("total:" + str(count))

total:0